# Ключи Mozilla Add-ons для deploy-firefox.py.
# Заполни значения без кавычек или в кавычках.
WEB_EXT_API_KEY=
WEB_EXT_API_SECRET=

# Необязательные параметры деплоя Firefox-версии.
# FIREFOX_UPDATE_BASE_URL=
# FIREFOX_UPDATE_SERVER_HOST=
# FIREFOX_UPDATE_SERVER_PORT=
# FIREFOX_UPDATE_SERVER_USER=
# FIREFOX_UPDATE_SERVER_DIR=
